cachetools==5.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cloudevents==1.2.0
deprecation==2.1.0
easydict==1.9
escape==1.1
Flask==2.1.2
functions-framework==3.0.0
google-api-core==2.8.1
google-auth==2.6.6
google-cloud-core==2.3.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.1.2
jpeg4py==0.1.4
jsonify==0.5
lmdb==1.3.0
MarkupSafe==2.1.1
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
Pillow==9.1.0
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyparsing==3.0.9
PyYAML==6.0
requests==2.27.1
rsa==4.8
six==1.16.0
tensorboardX==2.5.1
timm==0.5.4
torch==1.13.0.dev20220610
torchaudio==0.14.0.dev20220603
torchvision==0.12.0
typing_extensions==4.2.0
urllib3==1.26.9
watchdog==1.0.2
Werkzeug==2.1.2
yacs==0.1.8
zipp==3.8.0